<%- include('../partials/header') %>
<div class="container mt-5">

    <% if (typeof error !=='undefined' ) {%>
        <div class="alert alert-danger">
            <%= error.errors[0].message %>
        </div>
    <% } %>

    <form method="POST" id="createProfileForm" action="/api/profile">
        <div>
            <label for="name">Name</label>
            <input 
                type="text" 
                name="name" 
                placeholder="Input profile name"
                class="form-control">

            
        </div>

        <button type="submit" class="btn btn-info">Save</button>
    </form>

</div>



<%- include('../partials/footer') %>