<%- include('../../partials/header') %>
    <div class="container mt-5">

        <% if (typeof error !=='undefined' ) {%>
            <div class="alert alert-danger">
                <%= error.errors[0].message %>
            </div>
            <% } %>

                <form method="POST" action="/api/profile/phone">
                    <input type="hidden" name="profileId" value="<%= profile.id %>">
                    <div>
                        <label for="data">Phone Number</label>
                        <input 
                            type="text" 
                            name="data" 
                            placeholder="Input phone number" 
                            class="form-control">

                    </div>

                    <button type="submit" class="btn btn-info">Save</button>
                </form>

    </div>



<%- include('../../partials/footer') %>