<%- include('../../partials/header') %>
    <div class="container mt-5">

        <% if (typeof error !=='undefined' ) {%>
            <div class="alert alert-danger">
                <%= error.errors[0].message %>
            </div>
            <% } %>

                <form method="POST" action="/api/profile/phone/<%= phone.id %>/edit">
                    <input type="hidden" name="profileId" value="<%= phone.Profile.id %>">
                    <input type="hidden" name="phoneId" value="<%= phone.id %>">
                    <div>
                        <label for="data">Phone Number</label>
                        <input 
                            type="text" 
                            name="data"
                            value="<%= phone.data %>" 
                            placeholder="Input phone number" 
                            class="form-control">
                    </div>
                    <div class="form-check">
                        <input 
                            class="form-check-input" 
                            type="checkbox"
                            name="isActive"
                            id="flexCheckDefault" 
                            <%= phone.isActive ? 'checked' : '' %>>
                        <label class="form-check-label" for="flexCheckDefault">
                            active?
                        </label>
                    </div>

                    <button type="submit" class="btn btn-info">Save</button>
                    <a href="/api/profile/phone/<%= phone.id %>/delete" class="btn btn-danger">
                        <i class="fa fa-trash"></i>
                    </a>
                </form>

    </div>

<%- include('../../partials/footer') %>